In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.0.3'

In [7]:
df=pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [12]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [14]:
from sqlalchemy import create_engine

In [33]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [18]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [21]:
df_iter=pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [22]:
df=next(df_iter)

In [23]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [25]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [26]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 3.62 s
Wall time: 11.3 s

1000

In [27]:
from time import time

In [28]:
while True:
    t_start = time()
    df=next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    t_end=time()
    
    print('inserted another chunk', 'took %.3f seconds' %(t_end-t_start))

inserted another chunk took 11.799 seconds
inserted another chunk took 11.350 seconds
inserted another chunk took 11.552 seconds
inserted another chunk took 11.699 seconds
inserted another chunk took 11.626 seconds
inserted another chunk took 11.873 seconds
inserted another chunk took 11.376 seconds
inserted another chunk took 11.515 seconds
inserted another chunk took 12.100 seconds
inserted another chunk took 11.550 seconds
inserted another chunk took 11.868 seconds

C:\Users\nicki\AppData\Local\Temp\ipykernel_31004\4042460618.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df=next(df_iter)

inserted another chunk took 11.591 seconds
inserted another chunk took 8.595 seconds

StopIteration:

In [29]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2024-01-18 15:35:37--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 192.30.255.113
Connecting to github.com (github.com)|192.30.255.113|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240118%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240118T233538Z&X-Amz-Expires=300&X-Amz-Signature=f1b005bc7b226e5002bf38250af27692fbbb2505b9ac4a044d1909e2daecba6b&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2024-01-18 15:35:37--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240118%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240118T233538Z&X-Amz-Expires=300&X-Amz-Signature=f1b005bc7b226e5002bf38250af27692fbbb2505b9ac4a044d1909e2daecba6b&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi_zone_lookup.csv'

     0K .......... ..                                         100% 1.72M=0.007s

2024-01-18 15:35:38 (1.72 MB/s) - 'taxi_zone_lookup.csv' saved [12322/12322]

In [30]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [31]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [34]:
df_zones.to_sql(name = 'zones', con=engine, if_exists='replace')

265